<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hazz.kuangji">

    <!-- 获取GSM网络信息状态，如当前的网络连接是否有效 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许访问Wi-Fi网络状态信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许获取Wi-Fi网络状态改变信息 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 访问网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 读取手机状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <!-- SD 卡读写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!--        android:requestLegacyExternalStorage="true"-->
    <application
        android:name="com.hazz.kuangji.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:screenOrientation="portrait"
        android:networkSecurityConfig="@xml/network_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name="com.hazz.kuangji.ui.activity.LauncherActivity"
            android:theme="@style/AppLaunchTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.hazz.kuangji.ui.activity.MainActivity" />
        <activity android:name="com.hazz.kuangji.ui.activity.LoginActivity" android:launchMode="singleTask"/>
        <activity android:name="com.hazz.kuangji.ui.activity.ForgetPwdActivity" />
        <activity android:name=".ui.activity.mine.MineContactActivity" />
        <activity android:name="com.hazz.kuangji.ui.activity.RegisterActivity" />
        <activity android:name="com.hazz.kuangji.ui.activity.mine.InviteActivity"/>
        <activity android:name="com.hazz.kuangji.ui.activity.mine.InviteRecordActivity"/>
        <activity android:name="com.hazz.kuangji.ui.activity.mine.SettingActivity"/>
        <activity android:name="com.hazz.kuangji.ui.activity.mine.NodeActivity"/>
        <activity android:name="com.hazz.kuangji.ui.activity.mine.NodeTwoActivity"/>
        <activity android:name="com.hazz.kuangji.ui.activity.asset.ExtractCoinActivity"/>
        <activity android:name="com.hazz.kuangji.ui.activity.asset.ExtractCoinRecordActivity"/>
        <activity android:name="com.hazz.kuangji.ui.activity.asset.ChargeActivity"/>
        <activity android:name="com.hazz.kuangji.ui.activity.asset.ChargeRecordActivity"/>
        <activity android:name="com.hazz.kuangji.ui.activity.mine.MineExchangePwdActivity"/>
        <activity android:name="com.hazz.kuangji.ui.activity.mine.MineLoginPwdActivity"/>
        <activity android:name="com.hazz.kuangji.ui.activity.home.MsgListActivity"/>
        <activity android:name="com.hazz.kuangji.ui.activity.home.MsgDescActivity"/>
        <activity android:name="com.hazz.kuangji.ui.activity.asset.IncomingActivity"/>
        <activity android:name="com.hazz.kuangji.ui.activity.asset.ScanCoinAddressActivity"/>
        <activity android:name="com.hazz.kuangji.ui.activity.home.HomeRentActivity"/>
        <activity android:name="com.hazz.kuangji.ui.activity.mill.MillRecordActivity"/>
        <activity android:name="com.hazz.kuangji.ui.activity.RuleActivity"/>
        <activity android:name="com.hazz.kuangji.ui.activity.ProtocolActivity"/>
        <activity android:name=".ui.activity.home.ExchangeBuyActivity"/>
        <activity android:name=".ui.activity.home.ExchangeOrderBuyDetailsActivity"/>
        <activity android:name=".ui.activity.home.ExchangeCoinActivity"/>
        <activity android:name=".ui.activity.home.ExchangeOrderSaleCommitActivity"/>
        <activity android:name=".ui.activity.home.ExchangeOrderSaleDetailsActivity"/>
        <activity android:name=".ui.activity.home.ExchangeSaleActivity"/>
        <activity android:name=".ui.activity.home.ExchangeRecordActivity"/>
        <activity android:name=".ui.activity.home.ExchangeCoinRecordActivity"/>
        <activity android:name=".ui.activity.mine.MineCertificatedActivity"/>
        <activity android:name=".ui.activity.mine.MineCertificationActivity"/>
        <activity android:name=".ui.activity.asset.TransferCoinActivity"/>
        <activity android:name=".ui.activity.asset.TransferCoinRecordActivity"/>
        <activity android:name=".ui.activity.mine.MineDownloadActivity"/>
        <activity android:name=".ui.activity.mine.AboutActivity"/>
        <activity android:name=".ui.activity.mine.CompanyInfoActivity"/>
        <activity android:name=".ui.activity.asset.YesterdayEarningsSourceActivity"/>
        <activity android:name=".ui.activity.mill.MillEarningsDetailsActivity"/>
        <activity android:name=".ui.activity.mine.ContractManagerActivity"/>
        <activity android:name=".ui.activity.mine.ContractDetailsActivity"/>
        <activity android:name=".ui.activity.asset.AssetFilDetailsActivity"/>
        <activity android:name=".ui.activity.investment.InvestmentActivity"/>
        <activity android:name=".ui.activity.investment.InvestmentProductListActivity"/>
        <activity android:name=".ui.activity.investment.InvestmentProductBuyActivity"/>
        <activity android:name=".ui.activity.home.HomeRentClusterActivity"/>
        <activity android:name=".ui.activity.mill.ClusterEarningsRecordActivity"/>
        <activity android:name=".ui.activity.mill.ClusterEarningsDetailsActivity"/>
        <activity android:name=".ui.activity.asset.AssetClusterEarningsDetailsActivity"/>
        <activity android:name=".ui.activity.mill.MillClusterNodeActivity"/>
        <activity android:name=".ui.activity.asset.ExtractFilActivity"/>
        <activity
            android:screenOrientation="landscape"
            android:name=".ui.activity.mine.ContractSigningActivity"/>
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />

        <provider
            android:name=".widget.BuglyFileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="name,authorities,exported,grantUriPermissions">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="name,resource"/>
        </provider>

    </application>

</manifest>